<p>
  professor works!
</p>

<div class="col-md-6">
  <h2> Professor Details</h2>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>nome</th>
      <th>email</th>
      <th>Action</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let p of professors">
      <td class="hidden">{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.email}}</td>
      <td><button class="btn btn-danger" (click)="deleteProfessor(professor)"> Delete User</button></td>
    </tr>
    </tbody>
  </table>
  </div>